* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Inter', sans-serif;
  font-family: 'Mulish', sans-serif;
}

.primary-color {
  color: #FF5400;
}

.btn-primary {
  padding: 16px;
  color: #FFF;
  font-size: 1rem;
  font-weight: 700;
  border: 0;
  border-radius: 8px;
  background: #FF5400;
}

.main {
  margin: 52px 250px 0 250px;
  border: 1px solid red;
}

/* NAVBAR SECTION START */
.navbar {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-title {
  display: flex;
  gap: 16px;
}

.navbar-brand {
  color: #131318;
  font-size: 2.5rem;
  font-weight: 800;

}

.navbar-toggle {
  display: none;
  cursor: pointer;
}

.navbar-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-menu li {
  margin-right: 20px;
}

.navbar-menu a {
  text-decoration: none;
  color: #424247;
  font-weight: bold;
  font-size: 1.12rem;
  transition: 0.5s;
}

.navbar-menu a:hover,
.navbar-menu a.active {
  color: #FF5400;
}

/* NAVBAR SECTION END */
/* BANNER SECTION START */
.banner-section {
  background: url(Images/Group\ 13\ \(1\)\ \(1\).png);
  background-repeat: no-repeat;
  border-radius: 16px;
  object-fit: cover;
  text-align: center;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: 50%;
  margin-top: 60px;
}

.banner-section .banner-description {
  border-radius: 16px;
  background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%);

}

.banner-section-margin {
  padding: 120px 200px;

}

.banner-section .banner-description .banner-content {
  display: flex;
  flex-direction: column;
  padding-top: 120px;
  gap: 30px;
}

.banner-section .banner-content h1 {
  color: #FFF;
  font-size: 4rem;
  font-weight: 800;
}

.banner-section .banner-content p {
  display: inline-block;
  color: #FFF;
  font-family: Mulish;
  font-size: 1rem;
  font-weight: 400;
  padding-bottom: 50px;
}

.banner-section .banner-content .header-form {
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.30);
  display: inline-flex;
  padding: 1rem;
  gap: 1.5rem;

}

#s1 {
  border: 0;
  border-radius: 8px;
  padding: 16px 16px 16px 16px;

}

#s2 {
  border: 0;
  border-radius: 8px;
  padding: 16px 113px 16px 16px;
  color: rgba(19, 19, 24, 0.50);
  font-size: 1rem;
}

#s3 {
  border: 0;
  border-radius: 8px;
  padding: 16px 74px 16px 16px;
  color: rgba(19, 19, 24, 0.50);
  font-size: 1rem;

}

.fa-solid {
  margin-right: 10px;
}

/* BANNER SECTION END */
/* POPULAR SECTION START */

.popular-section {
  display: flex;
  justify-content: space-around;
  margin-top: 100px;
  align-items: center;
  gap: 40px;
}

.popular-section .popular-content {
  width: 40%;
}

.popular-section .popular-content .popular-title {
  color: #131318;
  font-size: 2.5rem;
  font-weight: 800;
  margin-bottom: 25px;
}

.popular-section .popular-content .popular-para {
  color: rgba(19, 19, 24, 0.70);
  font-size: 1rem;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 25px;

}

.popular-section .popular-content ul li {
  margin-left: 20px;
  color: rgba(19, 19, 24, 0.70);
  font-size: 1rem;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 20px;
}


/* POPULAR SECTION END */
/* GALLERY SECTION START */

.gallery-section {
  text-align: center;
}

.gallery-section .gallery-description {
  margin-top: 100px;
  margin-bottom: 48px;
}

.gallery-section .gallery-description .gallery-title {
  color: #131318;
  font-size: 2.5rem;
  font-weight: 800;
}

.gallery-section .gallery-description .gallery-para {

  color: rgba(19, 19, 24, 0.70);
  font-family: Mulish;
  font-size: 1rem;
  line-height: 26px;
}


.flex1 {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 24px;
}

.flex2 {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 24px;
}

.flex3 {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 24px;
}

.parent img {
  height: 100%;
  object-fit: cover;
  border-radius: 16px;
  object-fit: cover;
  background-size: cover;
  background-position: 50%;
}

.div1 h3 {
  position: relative;
  bottom: 50%;
  color: #FFF;
  font-size: 1.75rem;
  font-weight: 800;
}

.div2 h3 {
  position: relative;
  bottom: 50%;
  color: #FFF;
  font-size: 1.75rem;
  font-weight: 800;
}

.div3 h3 {
  position: relative;
  bottom: 50%;
  color: #FFF;
  font-size: 1.75rem;
  font-weight: 800;
}

.div4 h3 {
  position: relative;
  bottom: 50%;
  color: #FFF;
  font-size: 1.75rem;
  font-weight: 800;
}

.div5 h3 {
  position: relative;
  bottom: 50%;
  color: #FFF;
  font-size: 1.75rem;
  font-weight: 800;
}

.div6 h3 {
  position: relative;
  bottom: 50%;
  color: #FFF;
  font-size: 1.75rem;
  font-weight: 800;
}

.div7 h3 {
  position: relative;
  bottom: 50%;
  color: #FFF;
  font-size: 1.75rem;
  font-weight: 800;
}





/* GALLERY SECTION END */
.choose-section {
  margin-top: 100px;
}

.choose-section .choose-description {
  text-align: center;
}

.choose-section .choose-description h2 {
  color: #131318;
  font-family: Mulish;
  font-size: 2.5rem;
  font-weight: 800;
}


.choose-section .choose-card {
  margin-top: 48px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 24px;
  grid-row-gap: 24px;
}

.card1 {
  grid-area: 1 / 1 / 2 / 3;
  border: 1px solid rgba(251, 181, 99, 0.20);
  background: rgba(251, 181, 99, 0.05);
}

.card2 {
  grid-area: 1 / 3 / 2 / 5;
}

.card3 {
  grid-area: 2 / 2 / 3 / 4;
  border: 1px solid rgba(233, 68, 68, 0.20);
  background: rgba(233, 68, 68, 0.05);
}



.choose-section .choose-card .card {
  border-radius: 16px;
  padding: 32px 55px 32px 32px;
}

.choose-section h3 {
  color: #131318;
  font-family: Mulish;
  font-size: 1.5rem;
  font-weight: 800;
  margin: 25px 0;
}

.choose-section .choose-card .card2 {
  border: 1px solid rgba(41, 206, 246, 0.20);
  background: rgba(41, 206, 246, 0.05);
}

.choose-section .choose-card p {
  color: #5A5A5D;
  font-size: 1rem;
  font-weight: 400;
  line-height: 26px;
}

.newsletter-section .newsletter-content {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}

.newsletter-section .newsletter-content .newsletter-form {

  border-radius: 16px;
  border: 1px solid #FF5400;
  width: 40%;
  margin-left: 30px;
}

.newsletter-section .newsletter-content .newsletter-form h3 {
  color: #131318;
  font-family: Mulish;
  font-size: 1.5rem;
  font-weight: 800;
  margin: 40px;
}

.newsletter-section .newsletter-content .newsletter-form p {
  color: #5A5A5D;
  font-family: Mulish;
  font-size: 1rem;
  line-height: 26px;
  margin: 0 84px 24px 40px;
}

.newsletter-section .newsletter-content .newsletter-form input {
  border-radius: 8px;
  border: 0;
  background: rgba(19, 19, 24, 0.05);
  padding: 16px 251px 16px 20px;
  color: rgba(19, 19, 24, 0.30);
  font-family: Mulish;
  font-size: 1rem;
  font-weight: 400;
  margin: 10px 40px;
}

.newsletter-section .newsletter-content .hr {
  margin: 10px 42px;
  border-radius: 16px;
  background: rgba(19, 19, 24, 0.10);
}

.newsletter-section .newsletter-content .newsletter-form .subscribe {
  margin: 24px 40px;
  padding: 14px 196px;
}

.newsletter-section .newsletter-content .newsletter-banner {
  position: relative;
  margin-right: 30px;
  text-align: center;
  object-fit: cover;
  border-radius: 16px;
  object-fit: cover;
  background-size: cover;
  background-position: 100%;
}

.newsletter-section .newsletter-content .newsletter-banner .discount {
  position: absolute;
  border-radius: 16px;
  transform: rotate(-19.628deg);
  background: #FF5400;
  padding: 30px;
  right: 20px;
  bottom: 70px;
}

.newsletter-section .newsletter-content .newsletter-banner .discount span {
  color: #FFF;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 400;

}

.newsletter-section .newsletter-content .newsletter-banner .discount h2 {
  color: #FFF;
  font-size: 2rem;
  font-weight: 800;
}

/* Media query for Tablet responsiveness */

@media only screen and (min-width: 600px) and (max-width: 992px) {

  .main {
    margin: 20px;
  }

  .navbar-menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
  }

  .navbar-menu.show {
    display: flex;

  }

  .navbar-menu li {
    margin: 0;
    padding: 10px;
    text-align: center;
  }

  .navbar-toggle {
    display: block;
  }

  .navbar-toggle::before {
    content: '\2630';
    font-size: 1.5em;
  }

  /* -------------------------------- */

  .banner-section-margin {
    padding: 10px 15px;

  }

  .banner-section .banner-description .banner-content {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  .banner-section .banner-content h1 {
    font-size: 1.37rem;
  }

  .banner-section .banner-content p {
    font-size: 0.87rem;
    padding-bottom: 0px;
  }

  .banner-section .banner-content .header-form {
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    display: inline-flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1.5rem;
  }

  /* ---------------------------- */
  .popular-section {
    flex-direction: column;
    margin-top: 50px;
    gap: 40px;
  }

  .popular-section .popular-content {
    width: 80%;
  }

  /* --------------------------------------------- */

  .flex1 {
    flex-direction: column;
    padding: 10px;
  }

  .flex2 {
    flex-direction: column;
    padding: 10px;
  }

  .flex3 {
    flex-direction: column;
    padding: 10px;
  }

  .flex1 img {
    max-width: 100%;
  }

  .flex2 img {
    max-width: 90%;
  }

  .flex3 img {
    max-width: 90%;
  }

  .div1 h3 {
    position: relative;
    bottom: 200px;
    color: #ffffff;
    font-size: 1.75rem;
    font-weight: 800;
  }

  .div2 h3 {
    position: relative;
    bottom: 200px;
    color: #FFF;
    font-size: 1.75rem;
    font-weight: 800;
  }

  .div3 h3 {
    position: relative;
    bottom: 200px;
    color: #FFF;
    font-size: 1.75rem;
    font-weight: 800;
  }

  .div4 h3 {
    position: relative;
    bottom: 200px;
    color: #FFF;
    font-size: 1.75rem;
    font-weight: 800;
  }

  .div5 h3 {
    position: relative;
    bottom: 200px;
    color: #FFF;
    font-size: 1.75rem;
    font-weight: 800;
  }

  .div6 h3 {
    position: relative;
    bottom: 200px;
    color: #FFF;
    font-size: 1.75rem;
    font-weight: 800;
  }

  .div7 h3 {
    position: relative;
    bottom: 200px;
    color: #FFF;
    font-size: 1.75rem;
    font-weight: 800;
  }
/* ------------------------- */

.newsletter-section .newsletter-content {
  flex-direction: column;
  justify-content: center;
  margin-top: 100px;
}
.newsletter-section .newsletter-content .newsletter-form {
  width: auto;
  margin-left: 0px;
  margin-bottom: 20px;
}

.newsletter-section .newsletter-content .newsletter-banner img{
  margin: 10px;
  max-width:100%;
}
}


/* Media query for mobile responsiveness */
@media only screen and (max-width: 600px) {
  .main {
    margin: 20px;
  }

  .navbar-menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
  }

  .navbar-menu.show {
    display: flex;

  }

  .navbar-menu li {
    margin: 0;
    padding: 10px;
    text-align: center;
  }

  .navbar-toggle {
    display: block;
  }

  .navbar-toggle::before {
    content: '\2630';
    font-size: 1.5em;
  }

  /* -------------------------------- */
  .banner-section-margin {
    padding: 10px 15px;

  }

  .banner-section .banner-description .banner-content {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  .banner-section .banner-content h1 {
    font-size: 1.37rem;
  }

  .banner-section .banner-content p {
    font-size: 0.87rem;
    padding-bottom: 0px;
  }

  .banner-section .banner-content .header-form {
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    display: inline-flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1.5rem;
  }

  /* ------------------------------------ */

  .popular-section {
    flex-direction: column;
    margin-top: 50px;
    /* gap: 40px; */
    align-items: center;
  }

  .popular-section .popular-content {
    width: 80%;
  }

  .popular-img {
    max-width: 350px;

  }

  /* ------------------------------ */



  .flex1 {
    flex-direction: column;
    padding: 10px;
  }

  .flex2 {
    flex-direction: column;
    padding: 10px;
  }

  .flex3 {
    flex-direction: column;
    padding: 10px;
  }

  .flex1 img {
    max-width: 100%;
  }

  .flex2 img {
    max-width: 90%;
  }

  .flex3 img {
    max-width: 90%;
  }

  .div1 h3 {
    position: relative;
    bottom: 100px;
    color: #ffffff;
    font-size: 1.75rem;
    font-weight: 800;
  }

  .div2 h3 {
    position: relative;
    bottom: 100px;
    color: #FFF;
    font-size: 1.75rem;
    font-weight: 800;
  }

  .div3 h3 {
    position: relative;
    bottom: 100px;
    color: #FFF;
    font-size: 1.75rem;
    font-weight: 800;
  }

  .div4 h3 {
    position: relative;
    bottom: 100px;
    color: #FFF;
    font-size: 1.75rem;
    font-weight: 800;
  }

  .div5 h3 {
    position: relative;
    bottom: 100px;
    color: #FFF;
    font-size: 1.75rem;
    font-weight: 800;
  }

  .div6 h3 {
    position: relative;
    bottom: 100px;
    color: #FFF;
    font-size: 1.75rem;
    font-weight: 800;
  }

  .div7 h3 {
    position: relative;
    bottom: 100px;
    color: #FFF;
    font-size: 1.75rem;
    font-weight: 800;
  }

  /* ------------------------- */

  .choose-section .choose-card {
    margin-top: 48px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 24px;
    grid-row-gap: 24px;
  }

  .card1 {
    grid-area: 1 / 1 / 2 / 2;
  }

  .card2 {
    grid-area: 2 / 1 / 3 / 2;
  }

  .card3 {
    grid-area: 3 / 1 / 4 / 2;
  }

  /* --------------------------- */

  .newsletter-section .newsletter-content {
    flex-direction: column;
    justify-content: center;
    margin-top: 100px;
  }

  .newsletter-section .newsletter-content .newsletter-form {
    width: auto;
    margin-left: 0px;
    margin-bottom: 20px;
  }

  .newsletter-section .newsletter-content .newsletter-form input {
    padding: 16px 51px 16px 20px;
    margin: 10px 40px;
  }

  .newsletter-section .newsletter-content .newsletter-form .subscribe {
    margin: 24px 40px;
    padding: 14px 100px;
  }
  .newsletter-section .newsletter-content .newsletter-banner img{
    margin: 10px;
    max-width:100%;
  }
  .newsletter-section .newsletter-content .newsletter-banner .discount {
    position: absolute;
    border-radius: 8px;
    transform: rotate(-19.628deg);
    background: #FF5400;
    padding: 10px;
    right: 10px;
    bottom: 35px;
  }
  .newsletter-section .newsletter-content .newsletter-banner .discount span {
    color: #FFF;
    text-align: center;
    font-size: 0.5rem;
    font-weight: 400;
  
  }
  .newsletter-section .newsletter-content .newsletter-banner .discount h2 {
    color: #FFF;
    font-size: 0.87rem;
    font-weight: 800;
  }
}